{% extends 'user/user_main.html' %}
{% load static %}
{% block content %}
{% load static %}
<body>

<form action="/file_upload/{{name}}/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center><br><br><br><br>
<div class="field padding-bottom--24">
                  <label>Files</label>
                  <input type="file" name="file" placeholder="Upload Files" required/>
                </div>
       <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Submit">
                </div>
        </center>
</form>
</body>
{% endblock %}