{% extends 'user/user_main.html' %}
{% load static %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'table/css/style.css' %}">
<body>
<center>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table myaccordion table-hover" id="accordion">
                        <thead align="center">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Client Name</th>
                            <th>Company Name</th>
                            <th>Company Email</th>
                            <th>File</th>
                            <th>File Link</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody align="center">
                        {% for i in name %}
                        <tr data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo" class="collapsed" style="color:blue">
                            <th scope="row" style="color:red">{{i.id}}</th>
                            <td>{{i.client.name}}</td>
                            <td>{{i.client.company_name}}</td>
                            <td>{{i.client.company_email}}</td>
                            <td>{{i.file_name}}</td>
                            <td>{{i.files}}</td>
                            <style>
								  .button {
								  background-color: #4CAF50; /* Green */
								  border: none;
								  color: white;
								  padding: 5px 7px;
								  text-align: center;
								  text-decoration: none;
								  display: inline-block;
								  font-size: 16px;
								  margin: 0px 0px;
								  cursor: pointer;
								  }
								  .button1 {background-color: #f44336;}
                            </style>
                            {% if i.approve == False %}
                            <td>
                                <div><a href="/approve/{{i.id}}">
                                    <button class="button button">Accept</button>
                                </a><a href="/deny/{{i.id}}">
                                    <button class="button button1">Deny</button>
                                </a></div>
                            </td>
                            {% else %}
                            <td style="color:red"><b>Approve Successfully</b></td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
    <script src="{% static 'table/js/jquery.min.js' %}"></script>
    <script src="{% static 'table/js/popper.js' %}"></script>
    <script src="{% static 'table/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'table/js/main.js' %}"></script>
</center>
</body>
{% endblock %}